In [61]:
import pandas as pd
df = pd.read_csv("./dataset/exampleFeatureEx.csv")
df.rename(columns={1: "text"}, inplace=True)
df

                       text
0       ฉันรักเธอซะเมื่อไร?
1        ##ฉันรักคุณมากนะคะ
2        เธอคือความรัก55555
3  !! รักคุณมาก มาก มาก มาก
4              รักเธอป่ะ!!!

In [5]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
from nltk.corpus import stopwords
import re
import string
import re
import string
from pythainlp.tokenize import word_tokenize

In [15]:
#import library
import nltk
from pythainlp.corpus.common import thai_stopwords
from pythainlp.tokenize import word_tokenize
import re
import string
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to /home/kai/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [49]:
import pythainlp
from pythainlp.util import emoji_to_thai


#function for removing number
def remove_numbers(text):
    number_pattern = r'\d+'
    without_number = re.sub(pattern=number_pattern, repl=" ", string=text)
    return without_number

#function for removing punctuation
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', string.punctuation))

#function for removing stopword
def remove_stopwords(text):
    removed = []
    #stop_words = list(stopwords.words("english"))
    stopwords = list(thai_stopwords())
    tokens = word_tokenize(text)
    for i in range(len(tokens)):
        if tokens[i] not in stopwords:
            removed.append(tokens[i])
    return "".join(removed)

def tokenization_thai(text):
    token = word_tokenize(text,engine='longest', keep_whitespace=False)
    return " ".join(token)


#function for removing extra white_spaces
def remove_extra_white_spaces(text):
    space_pattern = r'\s+'
    without_sc = re.sub(pattern=space_pattern, repl="", string=text)
    return without_sc

In [ ]:
df['text'] = df['text'].apply(lambda x: remove_numbers(x)) #remove number
df['text'] = df['text'].apply(lambda x: remove_punctuation(x)) #remove punc
df['text'] = df['text'].apply(lambda x: remove_stopwords(x)) #remove stopword

df['text'] = df['text'].apply(lambda x: tokenization_thai(x)) #Lemmatization
df['text'] = df['text'].apply(lambda x: remove_extra_white_spaces(x)) #remove white space
df.head()

      text
0      รัก
1  รักนะคะ
2  ความรัก
3      รัก
4   รักป่ะ

In [68]:
def thai_tokenizer(text):
    return word_tokenize(text, engine="newmm")

In [69]:
#binary weighting
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(
    tokenizer=thai_tokenizer,
    binary=True
)

X = vectorizer.fit_transform(df["text"])
X = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

X

/home/kai/Mywork/git2/-natural-language-processing/venv/lib/python3.12/site-packages/sklearn/feature_extraction/text.py:526: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

   ความรัก  นะคะ  ป่ะ  รัก
0        0     0    0    1
1        0     1    0    1
2        1     0    0    0
3        0     0    0    1
4        0     0    1    1